---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "My Blog page";
---
<BaseLayout pageTitle={pageTitle}>
    <h1>Blog page</h1>
    <h2>Welcome Here we will post daily tech blogs and tricks!</h2>

    <p>
        Currently i am not willing to write any kind of blogs cause i am
        still kinda learning myself so if i put any wrong information in
        this case i am not responsible
    </p>

    <p>
        Just kidding Dont worry i will post only that blogs on which i am
        completely sure!
    </p>
 
    <ul>
        {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>
 