---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About me</a>
        <a href="/blog/">Blogs</a>
        <h1>Blog page</h1>
        <h2>Welcome Here we will post daily tech blogs and tricks!</h2>
      
        <p> Currently i am not willing to write any kind of blogs cause i am still kinda learning myself so if i put any wrong information in this case i am not responsible </p>
      
        <p>Just kidding Dont worry i will post only that blogs on which i am completely sure!</p>
      </body>
</html>
