---
import '../styles/global.css';
const pageTitle = "Home Page";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">Home</a>
        <a href="/about/">About me</a>
		<a href="/blog/">Blogs</a>
		<h1>Home page</h1>
		<h2>Hello guys</h2>
		<p> This is my first astro page. Stay tuned for updates</p>
	</body>
</html>
